
<div class="row">
    <div class="card col-md-6 shadow-lg">
        <div class=card-header>
           <h4>Login Form</h4> 
        </div>
        <form class="card-body"c #loginForn="ngForm" (ngSubmit)="onLogin(loginForn)">
            <div class="row">
                <div class="form-group col-md-10">
                    <label for="username">User Name</label>
                    <input type="text" class="form-control" #username="ngModel" ngModel name="userName">
                </div>
                <div class="form-group col-md-10">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" #password="ngModel" ngModel name="password">
                </div>
            </div>
            <hr class="bg-success" />
            <div>
                <button [disabled]="!loginForn.valid" class="btn btn-info" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>
