

.card-image-wraper{
    overflow: hidden;
    position: relative;
    
}

.card-img-top:hover{
    transform: scale(1.2, 1.2);
    transition-duration: 470ms;
    transition-timing-function: ease-in-out;
    height: 200px;
    opacity: .8;
}

.card-img-top{
    transform: scale(1, 1);
    transition-duration: 470ms;
    transition-timing-function: ease-in-out;
    height: 200px;

}

.card-button-icons{
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: 25%;
   opacity: 0;
}

.card-image-wraper:hover .card-button-icons{
    bottom: 0;
    opacity: 1;
}

.animate{
    transition: all 0.5s ease-in-out;
}